@using ESportsEventsApp.Extensions
@model BindingModels.DissociateRoleBindingModel

@{
    ViewBag.Title = "Dissociate Role for ";
    var associatedRoles = Model.AssociatedRoles.Select(r => new SelectListItem() { Text = r, Value = r });
    var roles = Model.AssociatedRoles.ToArray();
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="form-horizontal">
                <h4>@ViewBag.Title@Model.Username</h4>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="responsive">
                    <table class="table-striped">
                        <tr>
                            <td class="left-cell col-lg-2 col-md-3 col-sm-4">@Html.DisplayNameFor(model => model.AssociatedRoles)</td>
                            <td class="right-cell col-lg-2 col-md-3 col-sm-4">
                                @for (var i = 0; i < roles.Length - 1; i++)
                                {
                                    @Html.ActionLink(roles[i], "AllByRole", "Users", new { Area = "Admin", roleName = roles[i] }, new { @class = "table-link" })
                                    @Html.Name(", ")
                                }
                                @if (roles.Length > 0)
                                {
                                    @Html.ActionLink(roles[roles.Length - 1], "AllByRole", "Users", new { Area = "Admin", roleName = roles[roles.Length - 1] }, new { @class = "table-link" })
                                }

                            </td>
                        </tr>
                        <tr>
                            <td class="left-cell col-lg-2 col-md-3 col-sm-4">@Html.DisplayNameFor(model => model.RoleToRemove)</td>
                            <td class="right-cell col-lg-2 col-md-3 col-sm-4">
                                @Html.DropDownListFor(model => model.RoleToRemove, associatedRoles, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RoleToRemove, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        @Html.SubmitButton("Save")
                    </div>
                </div>
                <br /><br />
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3" style="padding-top: 40px;">
            <ul>
                <li>@Html.ActionLink("All users", "Index", null, new { @class = "btn btn-primary" })</li>
                <li>@Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                <li>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })</li>
                <li>@Html.ActionLink("Associate Role", "AssociateRole", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                <li>@Html.ActionLink("Dissociate Role", "DissociateRole", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
            </ul>
        </div>
        <br />
        <br />
    </div>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
