@using ESportsEventsApp.Extensions
@using BindingModels;
@model EventBindingModel
<div>
    <div class="responsive">
        <h4>Are you sure you want to delete this event?</h4>
        <table class="table">
            <tr>
                <td class="col-lg-4 col-md-4 col-sm-8">
                    <div class="responsive">
                        <table class="table-striped">
                            <tr>
                                <td class="left-cell col-lg-2 col-md-3 col-sm-4">@Html.DisplayNameFor(model => model.Name)</td>
                                <td class="right-cell col-lg-2 col-md-3 col-sm-4">@Html.DisplayFor(model => model.Name)</td>
                            </tr>
                            <tr>
                                <td class="left-cell col-lg-2 col-md-3 col-sm-4">@Html.DisplayName("Location")</td>
                                <td class="right-cell col-lg-2 col-md-3 col-sm-4">
                                    @Html.ActionLink(Model.City.Name + ", ", "Details", "Cities", new { area = "LocationAdmin", id = Model.City.Id }, new { @class = "table-link" })
                                    @Html.ActionLink(Model.Country.Name, "Details", "Countries", new { area = "LocationAdmin", id = Model.Country.Id }, new { @class = "table-link" })
                                </td>
                            </tr>
                            <tr>
                                <td class="left-cell col-lg-2 col-md-3 col-sm-4">@Html.DisplayNameFor(model => model.TierType)</td>
                                <td class="right-cell col-lg-2 col-md-3 col-sm-4">
                                    @Html.ActionLink(Model.TierType.ToString(), "AllByTierType", "Events", new { area = "Admin", tierType = Model.TierType }, new { @class = "table-link" })
                                </td>
                            </tr>
                            <tr>
                                <td class="left-cell col-lg-2 col-md-3 col-sm-4">@Html.DisplayNameFor(model => model.StartDate)</td>
                                <td class="right-cell col-lg-2 col-md-3 col-sm-4">@Html.DisplayFor(model => model.StartDate)</td>
                            </tr>
                            <tr>
                                <td class="left-cell col-lg-2 col-md-3 col-sm-4">@Html.DisplayNameFor(model => model.EndDate)</td>
                                <td class="right-cell col-lg-2 col-md-3 col-sm-4">@Html.DisplayFor(model => model.EndDate)</td>
                            </tr>
                        </table>
                    </div>
                    <br/>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color col-lg-10 col-md-10 col-sm-10">
                            @Html.SubmitButton("Delete")
                        </div>
                    }
                </td>
                <td class="col-lg-2 col-md-2 col-sm-4">
                    <ul>
                        <li>@Html.ActionLink("All events", "Index", null, new { @class = "btn btn-primary" })</li>
                        <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                        <li>@Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                        @if (ViewBag.StartDate > DateTime.Now)
                        {
                            <li>@Html.ActionLink("Edit Logo", "EditLogo", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("Edit Logo Local", "EditLogoLocal", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("Associate Admin", "AssociateAdmin", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("Dissociate Admin", "DissociateAdmin", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                        }
                    </ul>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
