@using ESportsEventsApp.Extensions
@using ViewModels;
@model EventViewModel

<h3>Are you sure you want to delete <strong>@Model.Name?</strong></h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd>
            @*<img src="../../../../Content/Images/Logos/national-cup-logo.png" style="width:50px;height:auto;"/>*@
            @Html.Image(Model.Logo.Url, string.Empty, "width:50px;height:auto;")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrizePool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrizePool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TierType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TierType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
