@using ESportsEventsApp.Extensions
@using ViewModels
@model EventDetailsViewModel

@{
    ViewBag.Title = $"Details for {Model.Name}";
}

<div>
    <h3>@ViewBag.Title</h3>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <hr/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Logo)
                </dt>

                <dd>
                    @Html.Image(Model.Logo.Url, string.Empty, "width:50px;height:auto;")
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PrizePool)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PrizePoolToString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TierType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TierType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>

                <dd>
                    @Html.DateFor(Model.StartDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>

                <dd>
                    @Html.DateFor(Model.EndDate)
                </dd>
            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
