@using ESportsEventsApp.Extensions
@using ViewModels
@model EventDetailsViewModel

@{
    ViewBag.Title = $"Details for event";
}

<div>
    <h4>@ViewBag.Title</h4>
    <div class="responsive">
        <table class="table">
            <tr>
                <td class="col-lg-4 col-md-4 col-sm-8">
                    <div class="responsive">
                        <table class="table-striped">
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Name)</td>
                                <td>@Html.DisplayFor(model => model.Name)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Logo)</td>
                                <td>@Html.Image(Model.Logo.Url, string.Empty, "width:50px;height:auto;")</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Location)</td>
                                <td>
                                    @Html.ActionLink(@Model.City.Name + ", ", "Details", "Cities", new { area = "LocationAdmin", id = Model.City.Id }, new { @class = "table-link" })
                                    @Html.ActionLink(@Model.Country.Name, "Details", "Countries", new { area = "LocationAdmin", id = Model.Country.Id }, new { @class = "table-link" })</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Venue)</td>
                                <td>@Html.ActionLink(@Model.Venue.Name, "Details", "Venues", new { area = "LocationAdmin", id = Model.Venue.Id }, new { @class = "table-link" })</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.PrizePool)</td>
                                <td>@Html.DisplayFor(model => model.PrizePoolToString)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Description)</td>
                                <td>@Html.DisplayFor(model => model.Description)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.TierType)</td>
                                <td>
                                    @Html.ActionLink(@Model.TierType.ToString(), "AllByTierType", "Events", new { area = "Admin", tierType = Model.TierType }, new { @class = "table-link" })
                            </td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.StartDate)</td>
                                <td>@Html.DisplayFor(model => model.StartDate)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.EndDate)</td>
                                <td>@Html.DisplayFor(model => model.EndDate)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.EventAdmins)</td>
                                <td>
                                   @{
                                       var links = Model.EventAdmins.ToArray();
                                       for (var i = 0; i < links.Length - 1; i++)
                                       {
                                        @Html.ActionLink(links[i].UserName + ", ", "Details", "Users", new { area = "Admin", id = links[i].Id }, new { @class = "table-link" })
                                       }
                                       if (links.Length > 0)
                                       {
                                        @Html.ActionLink(links[links.Length - 1].UserName, "Details", "Users", new { area = "Admin", id = links[links.Length - 1].Id }, new { @class = "table-link" })
                                       }
                                }
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Players)</td>
                                <td>
                                    @{
                                        var linksEa = Model.Players.ToArray();
                                        for (var i = 0; i < linksEa.Length - 1; i++)
                                        {
                                            @Html.ActionLink(linksEa[i].Name + ", ", "Details", "Players", new { area = "PlayerAdmin", id = linksEa[i].Id }, new { @class = "table-link" })
                                        }
                                        if (linksEa.Length > 0)
                                        {
                                            @Html.ActionLink(linksEa[linksEa.Length - 1].Name, "Details", "Players", new { area = "PlayerAdmin", id = linksEa[linksEa.Length - 1].Id }, new { @class = "table-link" })
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>                   
                </td>
                <td class="col-lg-2 col-md-2 col-sm-4">
                    <ul>
                        <li>@Html.ActionLink("Back To List", "Index", null, new {@class= "btn btn-primary"})</li>
                        <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                        @if (ViewBag.StartDate > DateTime.Now)
                        {
                            <li>@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("Edit Logo", "EditLogo", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("Edit Logo Local", "EditLogoLocal", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("Associate Admin", "AssociateAdmin", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("Dissociate Admin", "DissociateAdmin", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                        }
                    </ul>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>