@model BindingModels.AssociateEventAdminBindingModel

@{
    ViewBag.Title = "Dissociate EventAdmin for ";
    var availableAdmins = Model.AvailableAdmins.Select(aa => new SelectListItem() { Text = aa.UserName, Value = aa.Id });
    var links = @Model.AssociatedAdmins.ToArray();
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="form-horizontal">
                <h4>@ViewBag.Title@Model.Name</h4>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <br/>
                <div class="responsive">
                    <table class="table-striped">
                        <tr>
                            <td class="left-cell col-lg-2 col-md-3 col-sm-4">
                                @Html.LabelFor(model => model.AssociatedAdmins, new { @style = "font-weight: normal;" })
                            </td>
                            <td class="right-cell col-lg-2 col-md-3 col-sm-4">
                                <div>
                                    @for (var i = 0; i < links.Length - 1; i++)
                                    {
                                        @Html.ActionLink(links[i].UserName + ", ", "Details", "Users", new { area = "Admin", id = links[i].Id }, new { @class = "table-link" })
                                    }
                                    @Html.ActionLink(links[links.Length - 1].UserName, "Details", "Users", new { area = "Admin", id = links[links.Length - 1].Id }, new { @class = "table-link" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="right-cell col-lg-2 col-md-3 col-sm-4">
                                @Html.LabelFor(model => model.AvailableAdmins, new { @style = "font-weight: normal;" })
                            </td>
                            <td class="left-cell col-lg-2 col-md-3 col-sm-4">
                                <div>
                                    @Html.DropDownListFor(model => model.AssociateEventAdminId, availableAdmins, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AssociateEventAdminId, "", new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <br/>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Save" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3" style="padding-top: 40px;">
            <br/>
            <ul>
                <li>@Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-primary" })</li>
                <li>@Html.ActionLink("Edit", "Edit", null, new { @class = "btn btn-primary" })</li>
                <li>@Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                <li>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })</li>
                <li>@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                <li>@Html.ActionLink("Edit Logo", "EditLogo", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                <li>@Html.ActionLink("Edit Logo Local", "EditLogoLocal", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                <li>@Html.ActionLink("Associate Admin", "AssociateAdmin", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
            </ul>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
