@using ESportsEventsApp.Extensions
@using ViewModels
@model VenueViewModel

@{
    ViewBag.Title = $"Details for {Model.Name}";
}

<div>
    <h3>@ViewBag.Title</h3>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>
            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
