@using ESportsEventsApp.Extensions
@using BindingModels
@model CountryBindingModel
<div>
    <div class="responsive">
        <h4>Are you sure you want to delete this country?</h4>
        <table class="table">
            <tr>
                <td class="col-lg-4 col-md-4 col-sm-8">
                    <div class="responsive">
                        <table class="table-striped">
                            <tr>
                                <td class="left-cell col-lg-2 col-md-3 col-sm-4">
                                    @Html.DisplayNameFor(model => model.Name)
                                </td>
                                <td class="right-cell col-lg-2 col-md-3 col-sm-4">
                                    @Html.DisplayFor(model => model.Name)
                                </td>
                            </tr>
                            <tr>
                                <td class="left-cell col-lg-2 col-md-3 col-sm-4">
                                    @Html.DisplayNameFor(model => model.Flag)
                                </td>
                                <td class="right-cell col-lg-2 col-md-3 col-sm-4">
                                    @if (!string.IsNullOrEmpty(Model.Flag?.Url))
                                    {
                                        @Html.Image(Model.Flag.Url, string.Empty, "width:30px; height:auto;")
                                    }           
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color col-lg-10 col-md-10 col-sm-10">
                            @Html.SubmitButton("Delete")
                        </div>
                    }
                </td>
                <td class="col-lg-2 col-md-2 col-sm-4">
                    <ul>
                        <li>@Html.ActionLink("All countries", "Index", null, new { @class = "btn btn-primary" })</li>
                        <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                        <li>@Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                        <li>@Html.ActionLink("Edit Flag", "EditFlag", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                        <li>@Html.ActionLink("Edit Flag Local", "EditFlagLocal", new { id = Model.Id }, new { @class = "btn btn-primary" })</li>
                    </ul>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
