@using ESportsEventsApp.Extensions
@using ViewModels
@model CountryViewModel

@{
    ViewBag.Title = $"Details for {@Model.Name}";
}

<div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Flag)
                </dt>
                
                <dd>
                @if (Model.Flag != null)
                {
                        @Html.Image(Model.Flag.Url, string.Empty, "width:30px; height:auto;")
                }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Players)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlayersToString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cities)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CitiesToString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Teams)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TeamsToString)
                </dd>
            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
