@using ESportsEventsApp.Extensions
@using ViewModels;
@model IEnumerable<PlayerViewModel>

@{
    ViewBag.Title = "All players";
}

<p>
    @Html.ActionLink("Create New Player", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrizeMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BespaPoints)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.PlayerImage != null)
            {
                @Html.Image(item.PlayerImage.Url, string.Empty, "width:100px; height:auto;")
            }          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrizeMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BespaPoints)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Edit Player Image", "EditPlayerImage", new { id=item.Id }) |
            @Html.ActionLink("Edit Player Image local", "EditPlayerImageLocal", new { id = item.Id })

        </td>
    </tr>
}

</table>
