@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav custom_nav">
            <li>
                @*@Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                <a id="user-greeting" href="@Url.Action("Index", "Manage", null)">Hello, @User.Identity.GetUserName()!&nbsp;<span class="glyphicon glyphicon-user"></span></a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off&nbsp;<span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Register","Account",null)" id="registerLink">Register&nbsp;<span class="fa fa-user-plus" aria-hidden="true"></span></a></li>
    <li><a href="@Url.Action("Login","Account",null)" id="loginLink">Log in&nbsp;<span class="glyphicon glyphicon-log-in"></span></a></li>
    @*<li>@Html.ActionLink("Log in&nbsp;<span class=\"glyphicon glyphicon - user\"></span>", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
</ul>
}
